
#btcleiton, #btucra, #bttiago{
	overflow: visible;
}

.controller-btn {
	position: absolute;
	background-size: 396px 306px;
	width: 29px;
	height: 29px;
	float: left;
	display: block;
	left: -10px;
	overflow: visible;
	transition: box-shadow .5s;
}

.controller-btn:active {
	box-shadow: 0 0 5px rgba(0,0,0, .3);
}

.controller {
	display: none;
}

#btO {
	background: url('../images/OUYA_BUTTONS.png') no-repeat -35px -63px;
	background-size: 396px 306px;
}

#btU {
	background: url('../images/OUYA_BUTTONS.png') no-repeat -109px -63px;
	background-size: 396px 306px;
}

#btY {
	background: url('../images/OUYA_BUTTONS.png') no-repeat -182px -63px;
	background-size: 396px 306px;
}

#btA {
	background: url('../images/OUYA_BUTTONS.png') no-repeat -256px -64px;
	background-size: 396px 306px;
}

